* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: "San Francisco Display Thin";
    font-style: normal;
    font-weight: 900;
    src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin") format("svg")
}

@font-face {
    font-family: "San Francisco Display Medium";
    font-style: normal;
    font-weight: 400;
    src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2) format("woff2"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff) format("woff"), url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf) format("truetype"), url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium") format("svg")
}

body {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "San Francisco Display Thin";
    height: 100vh;
    background-color: #000;
}

@media screen and (min-width: 992px) {
    .wrapper {
        max-width: 60vw;
    }
}

@media screen and (max-width: 321px) {
    .wrapper {
        bottom: 0 !important;
    }
}

.wrapper {
    height: calc(6 * 5rem);
    width: calc(4 * 5rem);
    margin: auto;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(4, 5rem);
    grid-template-rows: repeat(6, 5rem);
}

.display {
    grid-column: span 4;
}
.display > input {
    font-family: inherit;
    width: 100%;
    font-size: 5rem;
    color: #fff;
    text-align: right;
    background-color: #000;
    border: 0;
    outline: none;
    display: inline-block;
    width: 95%;
    height: 4rem;
    word-break: break-all;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    word-break: keep-all; */
}

.display > input::placeholder {
    color: #fff;
}

.btn {
    font-family: "San Francisco Display Medium";
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 2rem;
    margin: .4rem;
    transition-duration: .8s;
    position: relative;
    z-index: 0;
    user-select: none;
    outline: none;
    border: none;
}

.btn > span {
    z-index: 2;
}

.btn--number {
    color: #fff;
    background-color: #353535;
}

.btn--number::after {
    content: "";
    background: #616161;
    display: flex;
    z-index: 1;
    border-radius: 4rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: all .8s;
}

.btn:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.btn--op {
    color: #fff;
    background-color: #ff9f0a;
}

.btn--op.minus {
    font-weight: bolder;
}

.btn--op::after {
    content: "";
    background: #fcc78d;
    display: flex;
    z-index: 1;
    border-radius: 4rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: all .8s;
}

.op.active {
    background-color: #fff;
    color: #ff9f0a; 
}

.btn--other {
    color: #000;
    background-color: #a5a5a5;
}

.btn--other::after {
    content: "";
    background: #d9d9d9;
    display: flex;
    z-index: 1;
    border-radius: 4rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left:0;
    opacity: 0;
    transition: all .8s;
}

.btn--zero {
    grid-column: span 2;
    align-items: center;
    justify-content: start;
    border-radius: 4rem;
    text-align: left;
    padding-left: 1.3rem;
}