* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: max-content 1fr;
	background-color: whitesmoke !important;
}

header.header {
	grid-column: 1 / -1;
	width: 95rem;
	margin: 4rem auto;
}

.header__h1 {
	font-size: 7rem;
	text-align: center;
	word-spacing: 3px;
	color: #17212c;
	font-family: 'Bungee Outline', sans-serif;
	font-weight: 900;
	transform: skewY(-7deg);
	margin: 0;
}

.header__h1::before {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 35%;
	top: 85%;
	left: 50%;
	background-image: linear-gradient(to right bottom, #18bc9c 50%, #0f7864);
	opacity: 0.7;
	z-index: -1;
	transform: skewY(370deg) translate(-50%, -50%);
}

.first-col {
	grid-column: 1 / 2;
	font-size: 1.4rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#deleteAllPeople {
	margin: 0 1.5rem;
	margin-top: 3rem;
}

form.inline {
	padding: 0;
}

form legend {
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 2.5rem;
}

.form-group {
	margin-bottom: 2rem;
}

.form-group-btn {
	margin-top: 2rem;
	display: flex;
	justify-content: flex-end;
}

button.btn.btn-success,
button.btn.btn-primary {
	font-size: 1.4rem !important;
	margin-bottom: 2rem;
	padding: 1rem 3rem;
}

form {
	padding: 1.5rem;
	border: 1px solid #ced4da;
	border-radius: 3px;
	margin-bottom: 1.5rem;
}

form .form-group input.form-control {
	font-size: 1.6rem;
	color: black;
}

.people-list {
	margin: 3rem;
	padding: 1rem;
	text-align: left;
	max-height: 100%;
	overflow-y: auto;
}

.people-list ul {
	list-style: none;
}

.people-list ul li {
	background-color: whitesmoke;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 3px;
	overflow: hidden;
}

.people-list ul li:not(:last-child) {
	margin-bottom: 1.5rem;
}

.people-list ul li .info {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
}
.people-list ul li .info h3 {
	margin: 0;
}

.people-list ul li .info h3:last-of-type {
	margin-right: 2rem;
}

.people-list ul li .actions {
	display: flex;
}

.people-list ul li .actions button {
	margin: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
	body {
		grid-template-columns: 1fr;
		grid-template-rows: max-content;
	}
	header.header {
		width: 100vw;
	}
}
