* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

html {
	min-width: 315px;
}

.iphone-bar {
	background-color: #4267b2;
	height: 2vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	font-size: 1.3vh;
	line-height: 1.3vh;
	vertical-align: middle;
}

.signal {
	margin-left: 8px;
	font-weight: 100;
	font-size: 1.2vh;
	width: 25%;
}

.signal-iphone {
	font-size: 0.7vh;
	line-height: 1.3vh;
	vertical-align: middle;
}

.hour {
	text-align: center;
	width: 50%;
}

.battery {
	margin-right: 8px;
	text-align: right;
	font-size: 1.2vh;
	width: 25%;
}

.navbar {
	background-color: #4267b2;
	height: 7vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 5vh;
	vertical-align: middle;
}

.camera,
.chat {
	font-size: 3vh;
	color: white;
	flex-grow: 1;
}

.camera {
	text-align: left;
	margin-left: 8px;
}

.chat {
	text-align: right;
	margin-right: 8px;
}

.search-bar {
	flex-grow: 10;
	background-color: rgba(21, 53, 117, 0.781);
	border: none;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 100;
	text-align: center;
	height: 4.5vh;
	font-size: 2.25vh;
	font-weight: lighter;
	border-radius: 3vh;
	font-family: Arial, FontAwesome !important;
}

.search-bar::placeholder {
	color: rgba(255, 255, 255, 0.6);
}

.search-bar:focus {
	outline: none;
}

.content {
	height: 84vh;
	overflow-y: scroll;
	background-color: #cacdd3;
}

.notice {
	width: 100%;
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows: 13.7% 68% 18.3%;
	background-color: white;
	margin-bottom: 10px;
	overflow: hidden;
}

@media (min-width: 680px) {
	.notice {
		max-width: 50%;
		margin: auto;
		margin-bottom: 10px;
	}
}

.notice .header {
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	align-items: flex-start;
	height: 60px;
	margin: 10px 0 0 0;
}

.notice .header .logo {
	position: relative;
	margin-left: 10px;
}

.notice .header .logo .logo-cont {
	overflow: hidden;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}

.notice .header .name {
	flex-grow: 2;
	font-size: 110%;
	line-height: 25px;
	margin: 0 10px;
}

.notice .header .name small {
	color: gray;
}

.notice .header .actions {
	text-align: right;
	margin-right: 10px;
	color: gray;
}

.notice .main-new {
	grid-column-start: 1;
	grid-column-end: 5;
	font-size: 115%;
}

.notice .main-new .title-cont {
	line-height: 20px;
	margin: 0 10px 10px 10px;
	height: 40px;
}

.notice .main-new .title {
	line-height: 20px;
	font-weight: normal;
}

.notice .main-new .second-title {
	background-color: rgba(214, 214, 214, 0.781);
	padding: 10px;
	height: 82px;
	overflow: hidden;
}

.notice .main-new .img-cont {
	background-color: rgba(214, 214, 214, 0.781);
	height: calc(100% - 50px - 82px);
}

.notice .main-new .second-title p {
	color: gray;
	font-size: 90%;
}

.notice .social-media-footer {
	grid-column-start: 1;
	grid-column-end: 5;
	padding: 0 10px;
}

.notice .social-media-footer .comments {
	width: 100%;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.notice .social-media-footer .comments .reactions {
	flex-basis: 50%;
	height: 50px;
	vertical-align: middle;
	text-align: left;
	position: relative;
	display: table;
}

.notice .social-media-footer .comments .n-of-comments {
	flex-basis: 50%;
	text-align: right;
}

.notice .social-media-footer .comments .reactions .images {
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	line-height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.notice .social-media-footer .comments .reactions .images img {
	display: inline;
	height: 20px;
	width: 20px;
	margin-right: -10px;
	transform: translateY(5px);
}

.notice .social-media-footer .buttons {
	width: 100%;
	height: calc(100% - 52px);
	line-height: calc(100% - 52px);
	font-size: larger;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.notice .social-media-footer .buttons a {
	flex-basis: 33%;
	height: calc(100% - 4px);
	text-decoration: none;
	color: #68696d;
	font-weight: 600;
	font-size: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (min-width: 680px) {
	.notice .social-media-footer .buttons a {
		font-size: 2vw;
	}
}

.footer {
	height: 7vh;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	line-height: 7vh;
	vertical-align: middle;
}

.section {
	flex-grow: 1;
	text-align: center;
	height: 7vh;
}

.section .icon {
	font-size: 3.5vh;
	color: gray;
}

.section .icon i {
	transition: transform 0.3s;
}

.section:hover .icon i {
	background-color: transparent;
	transform: scale(1.5);
}

.section.active > .icon i {
	color: #5292f1;
	transform: scale(1);
}
