* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
    cursor: pointer;
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 37.5em) {
    html {
        font-size: 47%;
    }
}


body {
    padding: 3rem;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* Start - Navigation */
.nav {
    position: fixed;
    top: 0;
    left: 3rem;
    right: 3rem;
    height: 9rem;
    padding: 2rem;
    background-color: #2c3e50;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .3);
    z-index: 5;
}

.nav__heading {
    display: inline-block;
    height: 100%;
    line-height: 5rem;
    font-size: 6rem;
    padding-left: 6rem;
    font-weight: 600;
}

.nav__list {
    list-style: none;
    float: right;
    text-align: right;
    border-radius: 3px;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav__list li {
    position: relative;
    display: inline-block;
}

.nav__list li:not(:last-child) {
    margin-right: 2rem;
}

.nav__btn {
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    line-height: 5rem;
    border-radius: 2px;
    transition: all .3s;
}

.nav__btn:hover {
    color: #2c3e50;
    background-color: #ecf0f1;
}

.nav__btn.active {
    color: #2c3e50;
    background-color: #ecf0f1;
}

.hamburger {
    display: none;
}

.hamburger:checked ~ .nav__list {
    width: 40%;
    opacity: 1;
    visibility: visible;

}

/* .hamburger:checked + .nav__ham .nav__icon {
    background-color: transparent;
} */

.hamburger:checked + .nav__ham .nav__icon::before{
    transform: rotate(45deg);
    top: 0;
}

.hamburger:checked + .nav__ham .nav__icon::after {
    transform: rotate(-45deg);
    top: 0;
}

.nav__ham {
    visibility: hidden;
    opacity: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);
}

.nav__ham:hover .nav__icon::before { top: -1rem; }
.nav__ham:hover .nav__icon::after { top: 1rem; }
.nav__ham:active { background-color: #253f5a; }

.nav__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s;
}

.nav__icon, .nav__icon::before, .nav__icon::after {
    width: 3rem;
    height: 1.5px;
    background-color: #ecf0f1;
    display: inline-block;
    transition: all .3s;
}

.nav__icon {
    background-color: transparent;
}

.nav__icon::before, .nav__icon::after {
    content: "";
    position: absolute;
    left: 0;
}

.nav__icon::before { top: -.8rem; }
.nav__icon::after { top: .8rem; }

@media only screen and (max-width: 56.25em) {
    .nav__list {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        text-align: center;
        padding: 5rem 3rem;
        right: 0;
        width: 0;
        background-color: #2c3e50;
    }

    .nav__list li:first-child {
        margin-top: 4rem;
    }

    .nav__list li {
        display: block;
        margin-top: 3rem;
        margin-right: 0 !important;
    }

    .nav__ham {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-width: 37.5em) {

    .hamburger:checked ~ .nav__list {
        width: 100%;
        opacity: 1;
        visibility: visible;
    
    }

    .nav__heading {
        padding-left: 0;
    }

    .nav__ham {
        right: 1rem;
    }
}

/* End - Navigation */

/* Start - Header */

.header {
    height: 75vh;
    margin-top: 7rem;
    background-color: #ecf0f1;
    background-image: url(../images/cinema3.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    padding: 6rem;
}

.header__heading {
    position: relative;
    color: #fff;
    z-index: 3;
    font-size: 4rem;
    margin-bottom: 10rem;
}

.header .header__select {
    position: relative;
    width: 50%;
    transform: translateY(-50%);
}

.cinemas__opts {
    color: #000;
}

.header .cinemas {
    height: 5rem;
    width: 90%;
    border-radius: 2px;
    background-color: transparent;
    font-size: 2rem;
    color: inherit;
    font-family: inherit;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
}

.header label {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    top: 1.2rem;
    left: .35rem;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.header .cinemas:focus {
    content: none;
}

.header .cinemas:focus ~ label {
    top: -.5rem;
    font-size: 1.2rem;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 56.25em) {
    .header .header__select {
        width: 100%;
    }
}

/* End - Header */

/* Start - Section Movies */

.section-movies {
    margin-top: -10rem;
    padding: 18rem 0;
    background-color: #ecf0f1;
    text-align: center;
}
.movies {
    position: relative;
}

.movies__msg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #999;
    font-weight: 500;
}

.movie {
    box-sizing: inherit;
    display: inline-block;
    position: relative;
    padding: 1rem;
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
}

.movie__title {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .4s;
    font-size: 1.8rem;
    font-weight: 400;
    backface-visibility: hidden;
}

.movie__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;
    backface-visibility: hidden;
}

.movie:hover .movie__title{
    transform: translate(-50%, 5rem);
    opacity: 1;
}

.movie:hover .movie__img {
    filter: blur(3px) brightness(70%);
}

.popup {
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.2);
    opacity: 0;
    width: 75%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .3);
    display: table;
    padding: 4rem;
    overflow: hidden;
    transition: all .5s .2s;
}

.popup__left {
    width: 34%;
    display: table-cell;
}

.popup__right {
    width: 66%;
    display: table-cell;
    vertical-align: top;
    padding-left: 4rem;
}

.popup__right.popup__right--scroll {
    position: relative;
    max-height: 30rem;
    overflow-y: auto;
}

.popup__bottom {
    width: 100%;
    display: table-row;
    padding: 3rem 5rem;
}

.popup__sec {
    color: #000;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    font-weight: 300;
}

.popup__sec--2 {
    margin-bottom: .8rem;
}

.popup__heading {
    font-size: 2rem;
    font-weight: 400;
    display: inline-block;
    color: #222;
    margin-right: 3rem;
}

.popup__heading--2 {
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
    color: #222;
    margin-right: 2.5rem;
}

.popup__paragraph {
    margin-top: 1rem;
    max-height: 15rem;
    overflow-y: auto;
}

.popup__img {
    display: block;
    width: 100%;
    border-radius: 3px;
}

.popup__close {
    text-decoration: none;
    font-size: 3.5rem;
    position: absolute;
    color: #777;
    display: inline-block;
    right: 2.5rem;
    top: 2.5rem;
    line-height: 1;
    transition: all .2s;
}

.popup__close:hover, .popup__close:active {
    color: #d63031;
}

.popup__btn {
    margin-top: 3rem;
    display: inline-block;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    background-color: #d63031;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .2s;
}

.popup__btn:not(:last-of-type) {
    margin-right: 1rem;
}

.popup__btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    transform: translateY(-2px) scale(1.01);
}

.popup__btn:active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    transform: translateY(-1px) scale(1);
}

@media only screen and (max-width: 37.5em) {
    .popup__content {
        display: inline-block;
    }

    .popup__left {
        width: 0;
        display: inline-block;
    }

    .popup__img{
        display: none;
    }
}

/* End - Section Movies */

/* Start - Section Cinemas */

.section-cinemas { 
    margin-top: -10rem;
    padding-bottom: 10rem;
    background-color: #ecf0f1;
    text-align: center;
    background-image: linear-gradient(
        to top, 
        rgba(214, 48, 49, .8),
        rgba(235, 99, 99, 0.8)), url(../images/cinema4.jpg);
    background-size: cover;
    clip-path: polygon(0 8vh, 50% 0, 100% 8vh, 100% 100%, 0 100%);
}

.cont {
    padding-top: 15rem;
}

.card {
    background-color: #ecf0f1;
    width: calc((100% - 3 * 4rem) / 4);
    max-width: 35rem;
    border-bottom: 3px solid #d63031;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    float: left;
    font-size: 1.5rem;
    padding: 4rem;
    text-align: center;
    margin: 0 auto;
}

.card__icon {
    font-size: 6rem;
    margin-bottom: 3rem;
    display: inline-block;
    color: #d63031;
}

.card__header {
    font-size: 1.6rem;
    color: #2d3436;
    text-transform: uppercase;
    margin-bottom: 1rem;
    height: 5rem;
}

.card__location {
    font-size: 1.2rem;
    color: #2d3436;
    height: 4rem;
    margin-bottom: 3rem;
}

.card__location i {
    font-size: 1rem;
}

.card__btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #d63031;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all .2s;
}

.card__btn:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
    transform: translateY(-3px) scale(1.03);
}

.card__btn:active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    transform: translateY(-1px) scale(1.01);
}

@media only screen and (max-width: 56.25em) {
    .card {
        width: 100%;
        margin-bottom: 3rem;
    }
}

/* End - Section Cinemas */

/* Start - Footer */

.footer {
    border-radius: 0 0 2px 2px;
    padding: 5rem;
    background-color: #2d3436;
}

.footer__logo {
    height: 10rem;
    font-size: 8rem;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

.footer__list {
    height: 10rem;
    line-height: 10rem;
    text-align: right;
}

.footer__list li {
    display: inline-block;
}

.footer__list li:not(:last-child) {
    margin-right: 3rem;
}

.footer__list li a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    transition: all .3s;
}

.footer__list li a:hover {
    color: #d63031;
}

.row {
    max-width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 56.25em) {
    .row {
        max-width: 35rem;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row .footer__logo, .row .footer__list {
    width: calc((100% - 4rem) / 2);
    float: left;
}

.row:not(:last-child) {
    margin-bottom: 4rem;
}

.row > *:not(:last-child) {
    margin-right: 4rem;
}

@media only screen and (max-width: 56.25em) {
    .row .footer__logo, .row .footer__list {
        width: 100%;
        text-align: center;
    }

    .row .footer__list {
        margin-top: 2rem;
        border-top: 1px solid #ecf0f1a9;
    }
}

/* Loader */

.loader-wrapper {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

.loader {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    border: 4px solid #ecf0f1;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #ecf0f1;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}